@model IEnumerable<ComissaoTecnica>
@using Liga_Tabajara.Data

@{
    ViewBag.Title = "Comissão Técnica";
}

<h2>Pesquisar Comissão Técnica</h2>

@using (Html.BeginForm("Index", "ComissaoTecnicas", FormMethod.Get))
{
    <div class="row mb-4">
        <div class="col-md-5">
            @Html.Label("nome", "Nome")
            @Html.TextBox("nome", ViewBag.FiltroNome as string,
                new { @class = "form-control", placeholder = "Digite o nome..." })
        </div>
        <div class="col-md-5">
            @Html.Label("cargo", "Cargo")
            @Html.DropDownList("cargo",
                (SelectList)ViewBag.Cargos,
                "-- Todos --",
                new { @class = "form-control", @value = ViewBag.FiltroCargo })
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            <th>Time</th>
            <th>
                @Html.DisplayNameFor(m => m.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Time.Nome</td>
                    <td>@item.Nome</td>
                    <td>@item.Cargo</td>
                    <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Nenhum registro encontrado.</td>
            </tr>
        }
    </tbody>
</table>
