@model IEnumerable<Jogador>

@{
    ViewBag.Title = "Jogadores";
}

<h2>Pesquisar Jogadores</h2>

@using (Html.BeginForm("Index", "Jogadores", FormMethod.Get))
{
    <div class="row mb-3">
        <div class="col-md-4">
            @Html.Label("nome", "Nome")
            @Html.TextBox("nome", ViewBag.FiltroNome as string,
                new { @class = "form-control", placeholder = "Digite o nome..." })
        </div>
        <div class="col-md-4">
            @Html.Label("posicao", "Posição")
            @Html.DropDownList("posicao",
                (SelectList)ViewBag.Posicoes,
                "-- Todas --",
                new { @class = "form-control", @value = ViewBag.FiltroPosicao })
        </div>
        <div class="col-md-4">
            @Html.Label("pePreferido", "Pé Preferido")
            @Html.DropDownList("pePreferido",
                (SelectList)ViewBag.PesPreferidos,
                "-- Todos --",
                new { @class = "form-control", @value = ViewBag.FiltroPePreferido })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
}

<table class="table table-striped table-hover mt-4">
    <thead class="table-light">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Time.Nome)</th>
            <th>@Html.DisplayNameFor(m => m.First().Nome)</th>
            <th>@Html.DisplayNameFor(m => m.First().DataNascimento)</th>
            <th>@Html.DisplayNameFor(m => m.First().Nacionalidade)</th>
            <th>@Html.DisplayNameFor(m => m.First().Posicao)</th>
            <th>@Html.DisplayNameFor(m => m.First().NumeroCamisa)</th>
            <th>@Html.DisplayNameFor(m => m.First().Altura)</th>
            <th>@Html.DisplayNameFor(m => m.First().Peso)</th>
            <th>@Html.DisplayNameFor(m => m.First().PePreferido)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var j in Model)
        {
            <tr>
                <td>@j.Time.Nome</td>
                <td>@j.Nome</td>
                <td>@j.DataNascimento.ToString("dd/MM/yyyy")</td>
                <td>@j.Nacionalidade</td>
                <td>@j.Posicao</td>
                <td>@j.NumeroCamisa</td>
                <td>@j.Altura</td>
                <td>@j.Peso</td>
                <td>@j.PePreferido</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = j.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = j.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = j.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
